<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Estudios 1</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nam quos harum qui, error laudantium veniam expedita nisi excepturi ab praesentium perferendis beatae officia ipsam dolorum tenetur nemo quaerat alias!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Estudios 2</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nam quos harum qui, error laudantium veniam expedita nisi excepturi ab praesentium perferendis beatae officia ipsam dolorum tenetur nemo quaerat alias!</p>
            </li>
        </ul>
        <ul>
            <li>
                <h3>Estudios 3</h3> - <h4>(years)</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nam quos harum qui, error laudantium veniam expedita nisi excepturi ab praesentium perferendis beatae officia ipsam dolorum tenetur nemo quaerat alias!</p>
            </li>
        </ul>
    </div>

</div>
