<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="70"
            [showUnits]="false"
            [title]="'INGLES'"
            [titleFontSize]="'20px'"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="70"
        [showUnits]="false"
        [title]="'ANGULAR'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'DISEÑO WEB'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="100"
        [radius]="70"
        [showUnits]="false"
        [title]="'RESPONSABILIDAD'"
        [titleFontSize]="'18px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="95"
        [radius]="70"
        [showUnits]="false"
        [title]="'PUNTUALIDAD'"
        [titleFontSize]="'19px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'CREATIVIDAD'"
        [titleFontSize]="'20px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
</div>