.row{
    padding: 20px;
}
    @media (min-width:576px){
        #perfil{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 3%;
            top: 500px;
    }
}

    @media (max-width:575px){
        #perfil{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px grey;
            left: 43%;
            top: 500px;
    }
    }

div{
    background-color: #a1b5cb;
    text-align: center;
}
#nombre{
    font-weight: bold;
    margin-top: 7%;
    font-size: 20px;
}
p{
    font-size: 12px;
}
